<div data-role="page" id="login_page" data-url="/" >
    <div data-role="content">
        <br/>
        <center>
            <h1>JqmFbRor</h1>
            <p>
            Tutorial app for using JQueryMobile with Facebook Integration and a Ruby on Rails backend.
            </p>
            <p>Source code available at github</p>
        <center>
        <br/>
        <%= render 'login_form' %>
    </div><!-- /content -->
</div><!-- /page -->


